{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}About{% endblock %}

{% block title %}
	<h1>About</h1>
    <p class="lead"><b>Find Out More About The Thirsty Pythons</b></p>
{% endblock %}
{% block content %}

<div class="body">
	<center><b>Find a Fountain is a group project by the Thirsty Pythons for the Internet
		Technology course at the University of Glasgow</b></center>

	<center><p><h4><b>Thirsty Python Members</b></h4></p></center>
	<div class = "container-fluid">
		<div class = "row">

		<div class = "col-sm">
			<h4><b>Jemma</b></h4>
			<p><img src= "{% static 'img/fountain7.jpg' %}" alt="Image of a water fountain" height="300" width="500"/></p>
			<p>Former scientist extraordinaire, now a geek of a different breed.
			Interested in finding water fountains around the uni, finding a job,
			and staying in touch with my science roots!</p>
		</div>
	
		<div class = "col-sm">
			<h4><b>Giedre</b></h4>
			<p><img src= "{% static 'img/fountain12.jpg' %}" alt="Image of a water fountain" height="300" width="500"/></p>
			<p>Avid traveller, art and tech enthusiast, social media marketing professional, 
			retired event curator, foodie, runner, and dabbler in many other things.</p>
		</div>
		
		<div class = "col-sm">
			<h4><b>Deb</b></h4>
			<p><img src= "{% static 'img/housesteads.png' %}" alt="Image of a water fountain" height="300" width="500"/></p>
			<p>Interests in HCI, UX/UI, Roman Britain, Archaeology, Classics, Cognitive Science, VR, and AR. 
			Currently developing a multisensory experience in VR.</p>
			<p>Check out my website <a href= "http://debmayers.com"> Here </a></p>
		</div>
		<div class = "col-sm">
			<h4><b>Thirsty Python</b></h4>
			<p><img src= "{% static 'img/thirsty.png' %}" alt="Image of our mascot" height="400" width="350"/></p>
			<p>Interested in keeping students hydrated.</p>
		</div>
	</div>
</div>

{% endblock %}
