{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Contact{% endblock %}

{% block title %}
  <h1>Contact</h1>
  <p class="lead">Get in contact with the Find a Fountain Here!</p>
{% endblock %}

{% block content %}
	<img src= "{% static 'img/fountain.jpg' %}" alt="Image of a water fountain" height="350" width="400"/>

	<div class="contact">
		<p><h4><b>Email: fountainfinderuni@gmail.com</b></h4></p>

		<a href="https://twitter.com/fountain_finder" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @fountain_finder</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><br />
	</div>

{% endblock %}