{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Contact{% endblock %}

{% block content %}
<div class = "jumbotron">
	<h1><b>Contact</b></h1>
</div>

<div class="contact">
	<p><h4><b>Email: fountainfinderuni@gmail.com</b></h4></p>

	<a href="https://twitter.com/fountain_finder" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @fountain_finder</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><br />
</div>

{% endblock %}