{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Home{% endblock %}

{% block content %}
<div class = "jumbotron">
	<h1><b>Home</b></h1>
</div>

<div class = "gridtwo">	
	<div class = "left">
		<h4><b>Found a Fountain?</b></h4>
		<b>Signup and submit via the <a href = "{% url 'contact' %}" > Submit </a> page.</b>
		<img src = "{% static 'img/libraryfountain.jpg' %}" alt = "Image of Library Fountain" style ="width:300px;height:400px;"><br />
		<b>Fountain of the Week:</b>
		Congratulations to the Library 4th floor fountain.
		Voted: Most clean, Best stocked, and Easiest to Find
	</div>
	<div class = "center2">
		<h4><b>The Thirsty Pythons are Proud to Announce:</b></h4>
		<h2><b>Find a Fountain</b></h2>
		
		<img src = "{% static 'img/University-of-Glasgow-Map.jpg' %}" alt = "Map of the University of Glasgow" style ="width:700px;height:500px;">
	</div>

	<div class="right">
		<a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/fountain_finder?ref_src=twsrc%5Etfw">Tweets by fountain_finder</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

</div>

{% endblock %}