{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Register{% endblock %}
{% block title %}
  <h1>Login to Find a Fountain</h1>
{% endblock %}

{% block content %}


<!-- Facebook setup -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '342740659564764',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.12'
      });  
      FB.AppEvents.logPageView();       
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


<!-- Text -->
  {% if registered %}
	<b>Thank you for registering!</b>
	<a href = "{% url 'index' %}">Return to home</a><br />
  {% else %}
	<h2><b>New to Find a Fountain?</b></h2><br />
       <h3><b> Sign up here:</b></h3><br />

	
<!-- FaceBook button -->
  <div class="fb-login-button" data-width="250" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">
  </div>

<!-- Form -->
	<div style="margin:20px 0 0 0">
     <b>Or use the form below:</b>
  </div>
  <div style="margin:5px 0 0 0">
	<form id = "user_form" method="post" action="{% url 'register' %}"
	enctype="multipart/form-data">
	{% csrf_token %}

<!-- Display each form -->
 
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  
<!-- Provide a button to click to submit the form. -->
  <input type="submit" name="submit" value="Register" />
  </form>
  </div>
  {% endif %}
 
<!-- And if they're already a member. -->

  <div style="margin:20px 0 0 0">
    <h2><b>Already a member?</b></h2><br />
    <h3><b> Login below</b></h3>
      <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input style="margin:5px 0 15px 0" type="text" name="username" value="" size="40" placeholder="Username"/><br />
        <input style="margin:0 0 15px 0" type="password" name="password" value="" size="40" placeholder="Password"/><br />
        <input type="submit" value="submit" />
      </form>
  </div>


 {% endblock %}
