{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Home{% endblock %}

{% block content %}
<div class = "jumbotron">
	<h1><b>Search</b></h1>
</div>

<div class="body">
	<h3><b>Basic HTML Stuff To put into Find a FOUNTAIN app.
	I'm just writing things into this block to make it stretch out.
	Rubber baby buggy bumper.
	Peter Piper picked a peck of pickled peppers. 
	Red leather, yellow leather</b></h3>
</div>
	<img src= "{% static 'img/waterfountain.jpg' %}" alt="Image of a water fountain"/>

{% endblock %}